body{
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
}
.bar{
  width:95vw;
  height:5vh;
  background-color: #9b9b8c;
  border: 2px, solid, black;
  float: left;
}
.bBar{
  width:95vw;
  height:20vh;
  background-color: #9b9b8c;
  border: 2px, solid, black;
  float: left;
  font-family: 'Avenir'
}
@font-face {
  font-family:"Avenir";
  src:local("Avenir")url("fonts/AvenirNextLTPro-Regular.otf");
}
.titl2{
  color: #fff;
  font-size: 6vh;
  font-family: 'Avenir';
  font-weight: 100;
  font-size: 5vh;
  margin-bottom: 0;
  margin-left: 5vw;
  margin-top: 12vh;
}
.c{
  color: #ffffff;
  margin: 3vw;
  font-size: 3vh;
  margin-top: 1vh;
}
main{
  height: 40vh;
  width: 100vw;

}
.cTBtn2{
  width: 23vh;
  height: 5vh;
  margin: 3vh;
  margin-left: 0;
  margin-bottom: 30vh;
  font-family: 'Avenir';
  font-weight: 100;
  font-size: 2.5vh;
  border-radius: 5px;
  background-color: #353526;
  color: #fff;
}
scrl{
  width: 100vw;;
  overflow: auto;
  float: left;
}
.sBar{
  width:500vw;
  margin-left: 7.5vh;
  overflow: auto;
  overflow-x: scroll;
  float: left;
}
.sImg{
margin-top:1vh;
margin-left: 3vh;
height: 70px;
width: 70px;
}
main2{
  display: block;
  margin-left: 10vh;
  float: left;
}
btnBar{
  display: block;
}
textarea{
  border: 2px solid black;
  background-color: #eeeeee;
  float: left;
}
