body{
   box-sizing: border-box;
   width: 95vw;
   height: 70vh;
}
.bar{
  width:95vw;
  height:5vh;
  background-color: #9b9b8c;
  border: 2px, solid, black;
  float: left;
}
.bBar{
  width:95vw;
  height:20vh;
  background-color: #9b9b8c;
  border: 2px, solid, black;
  float: left;
  font-family: 'Avenir'
}
@font-face {
  font-family:"Avenir";
  src:local("Avenir")url("fonts/AvenirNextLTPro-Regular.otf");
}
.titl{
  color: #4c0066;
  font-size: 12vh;
  font-family: 'Avenir';
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 1vh;
}

.c{
  color: #ffffff;
  margin: 3vw;
  font-size: 3vh;
  margin-top: 1vh;
  /**/ come back to marg top. not moving. center it up.
}
main{
  height: 40vh;
  width: 30vw;
  margin-left: 12vw;
  margin-top: 25vh;
  float: left;
  display: flex;
  align-items: baseline;
  flex-direction: column;

}
inCover{
  display: block;
  float: right;
  margin-right: -30vw;
  margin-top: 5vh;

}
.albumC{
  display: block;
  margin: 3.5vh;
  margin-top: 15px;
  opacity: 2;
  height: 170px;
  width: 170px;
}
#track{
  opacity: .19;
  width: 45vw;
  height: 90vh;
  float: right;
  z-index: 0;
}
#cTBtn{
  width: 45vh;
  height: 8vh;
  margin: 1vh;
  font-family: 'Avenir';
  font-weight: 100;
  font-size: 2.5vh;
  border-radius: 5px;
  background-color: #353526;
  color: #fff;
  float: left;
}
h1{
  float: left;
  display: block;
}
